#menu ol>li {
	display: inline-block;	
	font-size: 20px;
    padding: 30px 5px 30px 5px;			
}
#menu ol>li:hover{
	transition: 0.5s;
	background: #8181F7
}
#menu ol>li>a{
	color: #FFFFFF;
	transition: 1s;
	text-decoration: none;
	padding: 30px 5px 30px 5px;	
}
#menu ol>li:active{
	background: #ddd;
	border: 1px solid orange;
}
#menu ol>li>a:hover{
	color: #0C3714
}
#menu ol{
	overflow: hidden;
	background-color: #0493BB;
	margin-top: -50px;

}

